/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .filter-bar {
        flex-direction: column;
        height: 100%;
        align-items: baseline;
    }

    .button-filter-logo {
        padding: 10px;
    
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
        align-self: stretch;
    }


    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }


    .card-activity {
        width: 100%;
        height: 100%;
    }

    .activity-container a {
        width: 21%;
    }

    .activity-container .card-content{
        display: flex;
        height: 30%;
        align-items: center;
    }
    .activity-container img {
        width: 100%;
        height: 190px;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }


    .activity-container .card-title { 
        margin: 0px 0px 20px 20px;  
    }
    
}
