/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .header-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 79px;
    
    }
}