/****** General ***********/
@font-face { 
    font-family: Raleway; 
    src: url('./Raleway/static/Raleway-Regular.ttf'); 
} 

* {
    font-family: Raleway;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 15px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header  ******/

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-logo {
    padding: 30px 50px 30px 0px;
    width: 80px;
}

.nav-logo img {
    width: 61px;
    height: 19px;
}

.container-menu{
    height: 70px;
}

.container-menu-list{   
    width: 244px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

.nav-hebergement {
    height: 35px;
    box-sizing: border-box;
    text-decoration: none;
    background-color: transparent;
    padding-top: 10px;
    font-size: 16px ;
    text-align: center;

}

.nav-hebergement:hover {
    border-top: 2px solid var(--main-color);
    padding-top: 8px;
}

/****** Info bar  ******/

.container-info-group {
    

}

.info-group-p {
    
}

.container-form {
    display: flex;
    height: 3em;
    margin: 20px 0px;
}

/****** Search bar  ******/

.button-loc {
    width: 50px;
    height: 49px;
    border-radius: 15px 0 0 15px;
    border: 1px solid var(--main-bg-color);
    border-right: none;
    
}

.button-loc:hover, .button-search:hover {
    cursor: pointer;
}

.button-loc:hover, .button-search:active {
    opacity: 0.8;
}

.button-search {
    width: 132px;
    height: 49px;
    border: 1px solid var(--main-color);
    border-radius: 0 15px 15px 0;
    border-left: none;
    padding: 15px 16px 15px 16px;
    background-color: var(--main-color);
    color: white;
    margin-left: -5px;
}

.fa-location-dot {
    color: #000;
}

.fa-magnifying-glass {
    color: #f9fafb;
}
.button-search-mobile {
    display: none;
}


.input {
    width: 147px;
    height: 17px;
    border: 1px solid var(--main-bg-color);
    border-left: none; 
    border-right: none; 
    padding: 15px 16px 15px 16px; 
    margin-left: -5px;
    font-size: 18px;
    line-height: 21px;
    font-weight: bold;
    
}

.input::placeholder {
    color: black;
    text-align: center;
}

.input:focus {
    outline: none;
}

/****** Filter bar  ******/

.container-filter {
    margin-right: 20px;
}

.filter-bar {
    display: flex;
    flex-direction: row; 
    height: 50px;
    align-items: center;
}


.button-filter-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 25px;
    border: 2px solid var(--main-bg-color);
    margin-right: 20px;
    padding: 10px;
    background-color: transparent;
}

.button-filter-logo:hover {
    background-color: var(--filter-bg-color);
}

.button-filter {
    display: flex;
    flex-direction: row;
}

.button-filter-h {
    margin-right: 10px;
    margin-left: 10px;
    font-weight: bold;
    font-size: large;
    white-space: nowrap;
}


.infobar {
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.infobar .fa-info {
    color: var(--main-color);
    font-size: 15px;
    border: 1px gray solid;
    padding: 10px 7px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -5px;
}



/****** Hebergements And Populaires ***********/


.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    height: auto;
}


.hebergements-cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:25px;  
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.hebergements-cards a {
    width: 30%;
    margin-top: 25px;  
}

.hebergements-cards .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}


.hebergements img {
    width: 100%;
    height: 120px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.hebergements-cards .card-title {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
}

.hebergements-cards .card-rating {
    padding-left: 10px;
    
}

.hebergements-cards .card-subtitle {
    margin: 0;
    padding-left: 5px;
    font-size: 15px;
}  

.show-more {
    font-size:large;
    font-weight: bold;
    padding-top: 10px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/************ Activity ************************/

.activity{
    width: 100%;
    padding: 50px 0px 20px 0px;
}

.activity .section-title{
    line-height: 25px;
    padding-left: 3%;
}

.card-activity {
    background-color: white;
    border-radius: 20px;
    height: 100%;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.activity-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    padding-top: 30px;
    line-height: 18px;
}

.activity-container a {
    width: 22%;
}

.activity-container .card-content{
    display: flex;
    height: 15%;
    align-items: center;
}

.activity-container img {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.activity-container .card-title { 
    margin: 10px 20px 20px 20px; 
}

/***** Footer ******/

.footer {
    padding: 0px 0px 10px 15px ;
    display: flex;
    justify-content: start;
    background-color:var(--main-bg-color);
}

.colonne-footer {
    display: flex;
    flex-direction: column;
    padding: 20px 0px 0px 20px;
    width: 100%;
    
}

.footer ul {
    padding-left: 0;
    padding-bottom: 15px ;
    list-style-type: none;
    padding-top: 0px;
}

.list {
    padding-top: 15px;
}




